.container{
    width: 19.8%;
    height:150px;
    background-color: white;
    border-radius: 40px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.img{
    width: 48 px;
    height: 48px;
    margin-bottom: 10px;
}
.subTitle{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    opacity: 70%;

}
.title-card-payment{
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.price{
    font-family: Inter;
font-size: 24px;
font-weight: 400;
text-align: center;
opacity: 70%;
margin-top: 10px;
}
.good{
    border: 3px solid #644FE4
}
.goodButton{
    width: 52%;
    height: 22;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #644FE4;
    border-radius: 12px ;
    position: absolute;
    top:-11px
}
.goodTitle{
    font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 22px;
letter-spacing: -0.01em;
text-align: left;
color: white;

}
    
  