.card-big{
    border: Mixed solid #E0E0E0;
    border-radius: 40px;
    background-color: white;
    padding: 12px;
    text-align: left;
    margin-bottom: 20px;
}
.card-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-image{
    width: 240px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 200px;
    border-radius: 28px;
}
.card-row{
    display: flex;
    flex-direction: row;
}
.card-info-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.paymentName{
    font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.card-sub{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: black;
opacity: 60%;
}
.card-title{
    font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
opacity: 60%;
margin: 8px 0px;
}
.button-main-card{
    border-radius: 20px  !important;
    text-transform: none  !important;
    color: rgb(0, 0, 0)  !important;
    font-family: "Roboto"  !important;
    font-size: 16px  !important;
    font-weight: 600  !important;
    border: 0px  !important;
    background-color: #FFC737 !important;
    width: 20% !important;
    height: 48px !important;
    margin-top: 38px!important; 
    text-align: center;
}
.more-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}
.more-div-block{
    height: 480px;
    width: 48%;
    background-color: #F7F7F9;
    border-radius: 24px;
    padding: 16px 10px 24px 12px;
}
.line{
    width: 8px;
    height: auto;
    border-radius: 4px;
    margin-right: 16px;

    background: linear-gradient(180deg, #644FE4 0%, rgba(217, 217, 217, 0.28) 100%);
}
.item-card{
  display: flex;
  flex-direction: row;

}
.row-item-card{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.info-big-card{
    width: 100%;
}
.row-content{
    display: flex;
    flex-direction: row;
}
.price{
    font-family: Inter;
font-size: 28px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
color: black;
opacity: 70%;
}
.title-info-card{font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    opacity: 60%;
    }
.subTitle-info-card{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: black;
opacity: 60%;
}
.image-pay{
    margin-right: 22px;
    margin-bottom: 20px;
}
.text-decoration{
    font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
text-decoration: underline;
color: black;
opacity: 60%;
margin-top: 12px;
cursor: pointer;
}
.more-info{
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
margin-left: 10px;
color: black;
opacity: 60%;
cursor: pointer;
}
    
  