
.MuiSelect-select.MuiSelect-select{
  display: flex;
  align-items: center;
  padding: 8;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.MuiOutlinedInput-input {
  padding: 13px 14px !important;
}
.App{
  overflow-y: hidden;
  background-color: white;
}
::-webkit-scrollbar {
  display: none;
}
